* {
  box-sizing: border-box;
  font-family: 'Bebas Neue', cursive;
  font-size: 3.5vmin;
}

body {
  min-height: 100vh;
  background-color: rgb(81, 80, 77);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.board {
  background: url("https://media.istockphoto.com/photos/green-felt-and-playing-chips-abstract-background-picture-id672556284?b=1&k=20&m=672556284&s=612x612&w=0&h=S3Szc7EvvAMdA0U79Amjp4II5lPYNi680NBB7FloL64=");
  background-size: cover;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 80vmin;
  width: 170vmin;
  max-width: 100%;
  margin: 10px 0 0 0;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  justify-content: space-evenly;
}

#bank-roll, #dealt-hands, #deck {
  /* border: 5px solid black; */
  display: flex;
  height: 70vmin;
  margin-top: 5vmin;
}

#bank-roll {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
  margin-left: 5vmin;
  width: 30vmin;
}

#bank-total {
  display: flex;
  flex-direction: column;
  height: 12vmin;
  width: 17vmin;
  margin-bottom: -1.5vmin;
  align-items: center;
  justify-content:space-evenly;
  background-color: gray;
  border: 5px outset #EEBC1D;
  opacity: .7;
  border-radius: 5%;
}

#wager {
  display: flex;
  position: relative;
  height: 12vmin;
  width: 17vmin;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: gray;
  border: 5px outset #EEBC1D;
  opacity: .7;
  border-radius: 10%;
}

#hit-stay {
  display: flex;
  position: relative;
  width: 17vmin;
  flex-direction: row;
  justify-content: space-evenly;
  visibility: hidden;
} 

#stay-btn {
  display: flex;
  background-color: gray;
  border: 5px outset #EEBC1D;
  opacity: .7;
  border-radius: 10%;
}

#hit-btn {
  display: flex;
  background-color: gray;
  border: 5px outset #EEBC1D;
  justify-content: center;
  width: 6.8vmin;
  opacity: .7;
  border-radius: 10%;
}

#dealt-hands {
  width: 60vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: left;
  align-items: center;
}

#dealer {
  display: flex;
  position: relative;
  width: 55vmin;
  height: 30vmin;
  justify-content: center;
}

#total-dealer {
  width: 15vmin;
  height: 5vmin;
  justify-content: center;
}

#player {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vmin;
  height: 30vmin;
}

#total-player {
  width: 15vmin;
  height: 5vmin;
  justify-content: center;
}

#deck {
  margin-right: 5vmin;
  width: 40vmin;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#reset-btn {
  font-size: 2.3vmin;
  height: 7vmin;
  width: 15vmin;
}

#reset-btn {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vmin;
  height: 5vmin;
  background-color: gray;
  border: 5px outset #EEBC1D;
}

#deck-img {
  display: flex;
  height: 20vmin;
  width: 12vmin;
  background-image: url("/images/backs/blue.svg");
}

.bottom {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 15vmin;
  width: 170vmin;
  padding: 1vmin 0 1vmin 0;
  background-color: #966F33;
  justify-content: flex-start
}

#coin-container {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  width: 52vmin;
  height: 12.1vmin;
}

#ten, #twenty-five, #hundred {
  width: 12vmin;
  height: 15vmin;
}

#hundred {
  background-image: url("./chips-images/100-chip.svg");
}

#twenty-five {
  background-image: url("./chips-images/25-chip.svg");
}

#ten {
  background-image: url("./chips-images/10-chip.svg");
}

#deal {
  display: flex;
  width: 55vmin;
  justify-content: center;
  align-items: center;
}

#deal-button {
  visibility: hidden;
  height: 8vmin;
  width: 20vmin;
  background-color: gray;
  border: 5px outset #EEBC1D;
}

#message {
  display: flex;
  border: 6px double #d4af37;
  position: relative;
  width: 55vmin;
  justify-content: center;
  align-items: center;
}



