* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(81, 80, 77);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.board {
  background-color: green;
  display: flex;
  position: relative;
  flex-direction: row;
  height: 80vmin;
  width: 170vmin;
  max-width: 100%;
  margin: 10px 0 0 0;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  justify-content: space-evenly;
}

#bank-roll, #dealt-hands, #deck {
  /* border: 5px solid black; */
  display: flex;
  height: 70vmin;
  margin-top: 5vmin;
}

#bank-roll {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-around;
  margin-left: 5vmin;
  width: 30vmin;
}

#bank-total {
  display: flex;
  flex-direction: column;
  height: 8vmin;
  width: 15vmin;
  margin-bottom: -1.5vmin;
  align-items: center;
  justify-content:space-between
}

#wager {
  display: flex;
  position: static;
  height: 15vmin;
  flex-direction: column;
  justify-content: space-evenly;
}

#total-static {
  display: flex;
  margin-bottom: -1vmin;
}

#total-wager {
  display: flex;
  height: 5vmin;
  justify-content: center;
}

#hit-stay {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-around;
  visibility: hidden;
} 

#dealt-hands {
  width: 60vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#dealer {
  display: flex;
  position: relative;
  /* border: 2px solid black; */
  width: 55vmin;
  height: 30vmin;
  justify-content: center;
}

#total-dealer {
  width: 15vmin;
  height: 5vmin;
  justify-content: center;
}

#player {
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vmin;
  height: 30vmin;
}

#total-player {
  
  width: 15vmin;
  height: 5vmin;
  justify-content: center;
}

#deck {
  margin-right: 5vmin;
  width: 40vmin;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#reset-btn {
  visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 11vmin;
  height: 5vmin;
}

#deck-img {
  display: flex;
  height: 10vmin;
  width: 4vmin;
}

.bottom {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 15vmin;
  width: 170vmin;
  padding: 1vmin 0 1vmin 0;
  background-color: #966F33;
  justify-content: flex-start
}

#coin-container {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  width: 52vmin;
  height: 12.1vmin;
}

#ten, #twenty-five, #hundred {
  width: 12vmin;
  height: 15vmin;
}

#hundred {
  background-image: url("./chips-images/100-chip.svg");
}

#twenty-five {
  background-image: url("./chips-images/25-chip.svg");
}

#ten {
  
  background-image: url("./chips-images/10-chip.svg");
}

#deal {
  display: flex;
  width: 55vmin;
  justify-content: center;
  align-items: center;
}

#deal-button {
  visibility: hidden;
  height: 8vmin;
  width: 20vmin;
}

#message {
  display: flex;
  border: 1px solid black;
  position: relative;
  width: 55vmin;
  justify-content: center;
  align-items: center;
}

