* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(81, 80, 77);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0;
}

.board {
  background-color: rgb(22, 108, 22);
  display: flex;
  position: relative;
  flex-direction: row;
  height: 80vmin;
  width: 170vmin;
  max-width: 100%;
  margin: 10px 0 0 0;
  overflow: hidden;
  text-align: center;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  justify-content: space-evenly;
  padding: 
}

#bank-roll, #dealt-hands, #deck-deal {
  border: 5px solid black;
  display: flex;
  height: 70vmin;
  margin-top: 5vmin;
}

#bank-roll {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 5vmin;
  width: 30vmin;
}

#bank-total {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  height: 8vmin;
  width: 15vmin;
  align-items: center;
  justify-content:space-between
}

#bank-total p {
}

#wager {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
}

#hit-stay {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}



#dealt-hands {
  width: 60vmin;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

#dealer {
  display: flex;
  position: relative;
  border: 2px solid black;
  width: 55vmin;
  height: 30vmin;
}

#total-dealer {
  border: 1px solid black;
  width: 15vmin;
  height: 5vmin;
}

#player {
  border: 2px solid black;
  width: 55vmin;
  height: 30vmin;
}

#total-player {
  border: 1px solid black;
  width: 15vmin;
  height: 5vmin;
  justify-content: center;
}

#deck-deal {
  margin-right: 5vmin;
  width: 40vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#deck {
  border: 2px solid black;
  position: relative;
  height: 25vmin;
  width: 20vmin;
  background-color: red;
}

.bottom {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  height: 15vmin;
  width: 170vmin;
  padding: 1vmin 0 1vmin 0;
  background-color: #966F33;
  justify-content: flex-start
}

#coin-container {
  display: flex;
  overflow: hidden;
  position: relative;
  justify-content: space-evenly;
  width: 52vmin;
  height: 12.1vmin;
}

#ten, #twenty-five, #hundred {
  width: 12vmin;
  height: 15vmin;
}

#hundred {
  background-image: url("/css/chips-images/100-chip.svg");
}

#twenty-five {
  background-image: url("/css/chips-images/25-chip.svg");
}

#ten {
  background-image: url("/css/chips-images/10-chip.svg");
}

#deal {
  display: flex;
  width: 55vmin;
  justify-content: center;
  align-items: center;
}

#deal button {
  height: 8vmin;
  width: 20vmin;
}

